.img-header {
  width: 50px;
}

/* z-index */
.z-index-1 {
  z-index: 11;
}

.z-index-2 {
  z-index: 111;
}

/* .carousel-inner {
  background-color: black;
} */

.img-carousel {
  height: 100vh !important;
  object-fit: cover !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)) !important;
  -webkit-filter: brightness(50%);
}

.divImage .galeri {
  object-fit: cover;
  /* Do not scale the image */
  object-position: center;
  /* Center the image within the element */
  width: 400px;
  height: 300px;
  max-height: 200px;
  /* margin-bottom: 1rem; */
}

.card-pengurus {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.about,
.motivasi {
  height: 100vh;
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.about-img {
  width: 100%;
}

.card {
  /* border: none; */
  /* outline: none;
  background-color: #fff; */
  border-radius: 20px;
  /* transition: transform.3s; */
}

.card-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.btn-warna {
  background-color: rgb(37, 55, 137);
}

.footer {
  background-color: rgb(37, 55, 137) !important;
}

.img-footer {
  width: 100px;
  height: 100px;
}

.potongan-img {
  width: 100px;
  height: 100px;
}

.lambang {
  width: 50vh;
}